$main-purple: #635fc7;
$main-purple-hover: #a8a4ff;
$black: #000112;
$dark-gray: #2b2c37;
$medium-gray: #828fa3;
$dark-background: #20212c;
$light-background: #f4f7fd;
$lines-dark: #3e3f4e;
$lines-light: #e4ebfa;
$white: #ffffff;
$red: #ea5555;
$red-hover: #ff9898;

$headingXL: 24px;
$headingL: 18px;
$headingM: 15px;
$headingS: 12px;
$bodyL: 13px;
$bodyM: 12px;
