@use "variables";

.navContainer {
  background-color: variables.$main-purple;
  height: 6.5rem;
  background-color: variables.$dark-gray;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  gap: 1.5rem;

  button {
    color: variables.$white;
    font-size: variables.$headingL;
    font-weight: 600;
    svg {
      margin-bottom: 2px;
    }
  }
}

.submenu {
  position: fixed;
  top: 7rem;
  left: 50%;
}

.addButton {
  padding: 0.5rem 1rem;
  background-color: variables.$main-purple;
  border-radius: 5px;
  margin-left: auto;

  svg {
    margin-bottom: 0 !important;
  }
}
