* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;

  p {
    font-size: 1.6rem;
  }

  a {
    font-size: 1.6rem;
    text-decoration: none;
  }

  ul,
  ol {
    list-style: none;
  }

  textarea:focus,
  input:focus {
    outline: none;
  }

  button {
    background-color: inherit;
    border: none;
    cursor: pointer;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
}
